{{!-- Setup the index.handlebars to have the template that Handlebars can render onto. --}}

<div class="container">
	<div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h1>Eat-Da-Burger!</h1>
                <img src="../../assets/img/burgerbetter.png" alt="Burger">
            </div>
    </div>

<div class="row">
  <div class="col">
    <ul>
      {{#each burger}}
        {{#unless this.devoured}}
          <li>
            {{this.burger_name}}

            <form action="/update?_method=PUT" method="POST">
           
              <input type="hidden" value={{id}} name="id" id="all-burger">
              <input type="hidden" value={{burger_name}} name="burger_name" id="all-burger">
              <input type="hidden" value="true" name="devoured" class="devoured-burger" id="devoured-burger">
              <button type="submit">Devour It!</button>
            </form>
          </li>
        {{/unless}}
      {{/each}}
    </ul>
  </div>
</div>

<div class="row">
  <div class="col">
    <ul>
      {{#each burger}}
        {{#if this.devoured}}
          <li>
            {{this.burger_name}}

            <form action="/update?_method=PUT" method="POST">
              <input type="hidden" value="{{burger_name}}" name="burger_name" class="display-burger" id="devoured-burger">
            </form>
          </li>
        {{/if}}
      {{/each}}
    </ul>
  </div>
</div>


        <div class="row">
            <div class="col-md-8 col-md-offset-2">
            	<form class="create-update-form" action="/" method="POST" id="post-burger">
               		 <div class="form-group ">
                    	<textarea class="form-control" name="burger_name" rows="1" id="post-burger"></textarea>
                        <div class="row">
                      		<button type="submit" class="btn btn-warning">Submit</button>
                        </div>
                	</div>
            	</form>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h4>To enter a burger you want to eat, click the submit button.</h4>
            </div>
        </div>
    </div>

    